@page
@model WebApp_TP2.Pages.CityManager.CreateCityModel
@{
	ViewData["Title"] = "Create City";
}

<section>
	<h1>Formulário das Cidades</h1>
	<form method="post" class="mt-4">
		<div class="form-group">
		<label asp-for="cityName" class="col-form-label">Nome da Cidade</label>
		<input asp-for="cityName" class="form-control" />
		</div>
		<div class="form-group mt-3">
			<button type="submit" class="btn-primary btn">Enviar</button>
		</div>
	</form>
</section>
