@page
@model WebApp_TP2.Pages.CityManager.CreateCountryModel
@{
}

<form method="post">
    @for (int i = 0; i < 5; i++)
    {
        <div>
            <label>País @(i + 1)</label>
            <input asp-for="Countries[i].CountryName" placeholder="Nome" />
            <input asp-for="Countries[i].CountryCode" placeholder="Código" />
            <span asp-validation-for="Countries[i].CountryCode"></span>
        </div>
    }
    <button type="submit">Enviar</button>
</form>

@if (Model.Countries?.Any() == true)
{
    <h3>Países submetidos:</h3>
    <ul>
        @foreach (var country in Model.Countries)
        {
            <li>@country.CountryName (@country.CountryCode)</li>
        }
    </ul>
}