@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Teste de Performance 2</h1>
    <h2>Desenvolvimento Web com .NET e Bases de Dados</h2>
</div>
